body {
  height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
.welcome-quotes {
  color: white;
  font-family: "Baloo Bhai", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.welcome-quotes h1 {
  font-size: 2.5rem;
  margin-bottom: 44px;
}

.welcome-quotes p {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 30px;
}

.video-wrap {
  z-index: -100;
  
}

.custom-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.custom-icon {
  color: var(--secondary-color);
}

/* .location-social-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
} */

.location-social-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  color: white;
}

.social-icons {
  display: flex;
  align-items: center;
  color: white;
}

.social-icon-link {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.social-icon-link:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  .welcome-quotes h1,
  .welcome-quotes p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (min-width: 601px) and (max-width: 863px) {
  .welcome-quotes h1 {
    font-size: 1.5rem;
    margin-bottom: 44px;
  }
}

@media (min-width: 864px) {
  .welcome-quotes h1 {
    font-size: 2.3rem;
    margin-bottom: 44px;
  }
}

@media (max-width: 1311px) {
  .navbar li a {
    font-size: 0.7rem;
  }
}

@media (max-width: 878px) {
  .navbar li a {
    font-size: 0.5rem;
  }
}
